.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    background-color: #101621;
    border-radius: 30px;
    background-color: #101621;
    opacity: 1;
    background-image:  repeating-radial-gradient( 
        circle at center left, 
        transparent 0, 
        #101621 100px 
    ), 
    repeating-linear-gradient( #16223655, #162236 );
}

.flex {
    display: flex;
}