.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  }
  
  .logo {
    width: 50%;
  }

  .spotiLogo{
    width: 50%;
  }

  .text{
    margin-top: 21.5px;
    margin-left: 11px;
  }
  
  .login-btn {
    width: 200px;
    padding: 0px 20px;
    text-align: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 50px;
    color: #1f1f1f;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  
  a {
    text-decoration: none;
  }