.login-page {
    background-color: #1f1f1f;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
  }
  
  .logo {
    width: 50%;
  }

  .spotiLogo{
    width: 50%;
  }

  .text{
    margin-top: 21.5px;
    margin-left: 11px;
  }
  
  .login-btn {
    width: 200px;
    padding: 15px 20px;
    text-align: center;
    background-color: #fefefe;
    border-radius: 50px;
    color: #1f1f1f;
    font-weight: 620;
    display: flex;
    flex-direction: row;
  }
  
  a {
    text-decoration: none;
  }